@page "/counter"

<div class="row">
    <div class="col alert alert-secondary text-center">
        <h1>Counter</h1>
    </div>
</div>

<div class="row">
    <div class="col text-left">
        <button class="btn btn-primary btn-lg" @onclick="IncrementCount">Click me</button>
    </div>
    <div class="col text-right">
        <span style="font-size: 40px">@currentCount</span>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <input type="number" class="form-control-lg" @bind="currentCount"/>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6 text-center alert alert-primary">
        Singleton: @singleton.Value
    </div>
    <div class="col-6 text-center alert alert-danger">
        Transient: @transient.Value
    </div>
</div>

